body {
    font-family: Arial, sans-serif;
    background-color: #b32d2d;
    text-align: center;
    padding: 50px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#textContainer {
    margin-top: 20px;
    color: #2b2b2b;
    font-weight: bold;
}